<div class="row" >
    <div class="list-group col-12" >
        <a 
        [routerLink]='index'
        routerLinkActive="active"
        *ngFor="let c of cocktails; let even = even; let odd = odd; let index = index"
        [ngClass]="{
            'even':even,
            'odd':odd
        }"
        class="list-group-item list-group-item-action" style="cursor: pointer;">{{c.name}}</a>
    </div>
    <hr>
    <div class="row" style="margin-left: 10px;">
        <button routerLink="new" class="btn btn-success">
            Ajouter un cocktail
        </button>
    </div>
</div>
