<div class="row">
  <div class="col-4">
    <img class="img-fluid" style="max-height: 150px;" [src]="cocktail.img" [alt]="cocktail.name">
  </div>
  <h3 class="col-8">{{cocktail.name}}</h3>
</div>
<hr>
<div class="row">
  <p class="col-12">{{cocktail.desc}}</p>
</div>
<hr>
<div class="row">
  <ul class="col-12 list-group ">
    <li class="list-group-item " *ngFor="let ing of cocktail.ingredients">
      {{ing.name}} <span class="badge badge-pill badge-secondary ml-auto">{{ing.quantity}}</span>
    </li>
  </ul>
</div>

<hr/>
<div class="row">
  <button [routerLink]="getUrl()" type="button" class="btn btn-success">
    Editer le cocktail
  </button>
  <button type="button" (click)="addPanier(cocktail.ingredients)" class="btn btn-primary ml-auto">
    Ajouter au panier
  </button>
</div>
